.radar {
    background-color: #032;
    position: relative;
}

.blip {
    background-color: #f00;
    transition: transform 2s;
    position: absolute;
    display: none;
}

.radial {
    background-color: #000;
    height: 1px;
    position: absolute;
}

.circular {
    border: 1px solid #000;
    position: absolute;
}

.radar > .circular {
    background-color: #032;
}


.radar > .circular ~ .circular {
    background-color: transparent;
}
